.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-end;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select {
  appearance: none;
  background-color: white;
  padding: 10px;
  width: 15rem;
  border: 2px solid var(--green-color);
  border-radius: 0.5rem;
}

.select-wrapper::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--green-color);
}

.select:focus {
  outline: none;
}
