.main {
  width: 70%;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
}

@media (width <=1400px) {
  .main {
    width: 60%;
  }
}

@media (width <= 1200px) {
  .main {
    width: 80%;
  }
}

@media (width <= 992px) {
  .main {
    width: 95%;
  }
}

@media (width <= 768px) {
  .main {
    width: 100%;
  }
}
