.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem;
  row-gap: 0.5rem;
  padding: 2rem;
  background-color: rgba(255 255 255 / 72%);
  border-radius: var(--border-radius-md);
}

@media (max-width: 576px) {
  .container {
    row-gap: 0.5rem;
    padding: 1.5rem;
    border-radius: var(--border-radius-md);
    font-size: 0.9rem;
    margin-bottom: 3rem;
  }
}
